.pthtml { display: inline-block; 

      margin-top: 10px;
      margin-bottom: 0px; 
      margin-left: 10px;}

.menu {  color: #ee4036;
          display: inline-block;

         margin-right: 26px;
         margin-left:50px;}

.news {display: inline-block;
         margin-right: 42px;}   

.contacts { display: inline-block;} 


.may { color: #3d58a6; 
       margin-left:10px;
       margin-top:10px ;
       margin-bottom: 30px; 
       font-family: BPG Nino Mtavruli;}

.lorem1 { margin-left: 10px;
         margin-bottom: 16px; 
          font-family: BPG Nino Mtavruli;}

.codept { display: inline-block;
         margin-left: 10px;
         margin-right: 39px;
         margin-top: 0px; 
         margin-bottom: 192px;
         vertical-align: text-bottom;}

.lorem2 { display: inline-block; 
         width: 930px;
         height: 360px;
         margin-top: 0px;
         margin-bottom: 39px;
         margin-right: 0px;
         vertical-align: 0px;
         vertical-align:text-bottom ;}


.pc { display: inline-block;
         margin-left: 10px;
         margin-right: 39px;
         margin-top: 0px; 
         margin-bottom: 192px;
      text-align:text-bottom ; }

.startmenu { color: #3d58a6; 
             font-family: BPG Nino Mtavruli;}


.pizza { display: inline-block; 
         margin-left: 10px;
         margin-right: 39px;
         margin-top: 0px; 
         margin-bottom: 192px;
         text-align:text-bottom ;}

.line { display: inline-block;
         width: 2px;
         height:30px; 
         background-color: #3d58a6;
         margin-left: 34px;
         margin-right: 30px;}



.footer { margin-top: 34px; }


.border { border-style: solid;
         display:inline-block;
         width: 56px; 
         height: 56px;
         background-color: /*#3d58a6*/;
         color: #3d58a6;

         padding-top: 12px;
         padding-right: 3px;
         padding-bottom: 16px;
         padding-left: 10px;
         background-color:#3d58a6 ;}





.banner {  display: inline-block; 
         margin-left: 70px;
         margin-bottom: 125px;}

.featured {  margin-left: 70px;
            
            }


 .border1 { border-style: solid;
            width: 570px;
            height: 225px; 
            padding-left: 39px;
            color: #f2f2f2;
            background-color: #f2f2f2;
            display: inline-block;
            margin-right: 29px;}           


.resp { padding-left: 20px;
        color: #3d58a6;
        font-family: roboto regular; }



.finger { display: inline-block;
         padding-left: 39px;
         padding-bottom: 42px;
         padding-right: 20px;
      }


.p1 { display: inline-block;

      width: 356px;
      height: 143px;
      vertical-align:text-bottom;
      color: #333333;
      font-family: roboto-regular;
      letter-spacing: 1.2px;
      line-height: 1.6;}        


.border2 { border-style: solid;
            width: 570px;
            height: 225px; 
            padding-left: 39px;
            color: #f2f2f2;
            background-color: #f2f2f2;
            display: inline-block;
            margin-bottom: 68px; }      


.contact {width: 238px;
         height: 93px;
         margin-top: 62px;
         margin-left: 97px;
         display: inline-block;
         vertical-align: text-top;}            


.mapnav { display: inline-block;
         margin-top: 50px;
         margin-bottom: 59px;
         vertical-align: text-top; }         


.callendar { border-style: solid; 
             width: 56px;
             height: 56px;
             background-color: #3d58a6;
             color: #3d58a6;}


.cipri { font-size: 28px; 

          padding: 12px 3px 6px 10px ;
         margin: 0px;
         color: white;}


.mapcontact { flex-shrink: 0; }


.startmenuflex { flex-shrink: 0; }



.newssection { margin-left:50px ; }


.newsfooter { margin-left: 50px; }



.mainsecstion { margin-left: 70px; }


.mainfooter { margin-left: 70px; }


.mapfooter { margin-left: 70px; }


.mapback { background-color: #e6e6e6; }